<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
    <span>Employee Management System</span>
    <div class="uk-width-1-1"></div>
    
  </mat-toolbar-row>
</mat-toolbar>

<p>
  <a mat-raised-button routerLink="">Home</a>
  <a mat-raised-button routerLink="/login">Login</a>
  <a mat-raised-button routerLink="/admin">Employee List Page</a>
  <a mat-raised-button routerLink="/public">Add Employee Page</a>
  <a mat-raised-button routerLink="/detail">Employee Detail Page</a>
</p>
  
  <router-outlet></router-outlet>
